In [1]:
#### Filter Using a Wildcard ####

# Importing necessary libraries
import pandas as pd

# Load the CSV file into a DataFrame
products_df = pd.read_csv('Products.csv')

# Filter the DataFrame for rows where 'ProductName' starts with "C"
filtered_products_df_C = products_df[products_df['ProductName'].str.startswith('C')]

# Calculate the number of observations
num_observations = len(filtered_products_df_C)

# Print the number of observations
print(f"Number of observations where ProductName starts with a C: {num_observations}")

# Display the resulting DataFrame with all columns
display(filtered_products_df_C.style.hide(axis = "index"))

# Add a few blank lines
print("\n\n")


products_df2 = pd.read_csv('Products.csv')

# Filter the DataFrame for rows where 'ProductName' ends with 'e'
filtered_products_df_endE = products_df2[products_df2['ProductName'].str.endswith('e')]

# Calculate the number of observations
num_observations = len(filtered_products_df_endE)

# Print the number of observations
print(f"Number of observations where ProductName ends with an e: {num_observations}")

# Display the resulting DataFrame with all columns
display(filtered_products_df_endE.style.hide(axis = "index"))

# Add a few blank lines
print("\n\n")



# Filter the DataFrame for rows where 'Unit' starts with "48"
filtered_products_df_48 = products_df[products_df['Unit'].str.startswith('48')]

# Calculate the number of observations
num_observations = len(filtered_products_df_48)

# Print the number of observations
print(f"Number of observations where Unit starts with '48': {num_observations}")

# Display the resulting DataFrame with all columns
display(filtered_products_df_48.style.hide(axis = "index"))

# Add a few blank lines
print("\n\n")\

Number of observations where ProductName starts with a C: 9

Number of observations where ProductName ends with an e: 17

Number of observations where Unit starts with '48': 3